extends layout

block head
  link(id="code_style" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/ir_black.min.css")
  script(src='/javascripts/main.js')

block content
  .container-fluid.hide-scroll-all-height.full-height
    form.workform(action="/submit", method="post" id='workform')
      input(type='hidden' id='existingid' name='id' value=_id)
      textarea#input(name="data") #{text}

      #preview


      #sidebar.sidebar
        #shown
          button.btn.btn-primary.inline-block.bottomPasteButton#show(type='button') Save
        #hiddenpart
          h3 Configuration
          hr
          label(for='editpassword') Password
          input#password(name='editpassword' type='password')
          label Code-Highlighting
          select#codestyle(type='select' name='codestyle')
