doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


    script(src='/javascripts/commonmark.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    block head

  body
    block content
