extends layout
block head
    script(src='/javascripts/result.js')
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/"+css+".min.css")

block content
    #hiddenText(value=text)
    #render
