body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

html, body {
   height: 100%;
   margin:0;
   padding:0;
}

#preview {
  padding:25px;
  background-color: #F9F9F9;
  height:100%;
  min-height:100%;
  width:50%;
  max-height: 45%;
  overflow-y: scroll;
  display:inline-block;
  vertical-align:top;
}

#input {
  resize: none;
  height: 100%;
  width: 100%;
  border:none;
}

#render {
  padding-top: 25px;
  height:100%
}

#input:focus{
  outline-width: 0;
}

form {
  display:inline-block;
  padding:25px;
  width:50%;
  height:100%;
}

blockquote{
  background: #EDEDED;
  border-left: 4px solid #ccc;
  margin: 0.5em 10px;
  padding: 1px 12px;
}

p code {
  padding: 1px;
  background-color: #E0E0E0;
}

#config {
  position: fixed;
  right: 50px;
  bottom: 20px;

}

.noborder {
  opacity: 10;
  border: 1px solid #c9c9c9;
  padding: 5px 25px;
}

.config {
  vertical-align: bottom;
  opacity: 0.2;
  margin-right: 1em;

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

#configmenu {
  margin-right: 15px;
  display: none;
  width:300px;

  background: #F4F4F4;
  padding: 6px;

  color: #aaa;
}

#right {
  float:right;
}

.config:hover {
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -o-transform:rotate(60deg);
}

#hiddenText {
  display:none;
}

#render {
  width: 50%;
  margin: auto;
}

#other {
  position: absolute;
  right: 50px;
  bottom: 25px;
  opacity: 0.4;
  float:right;
}

#popup {
  background: #c6c6c6;
  padding: 6px;
  border-radius: 10px;
  display: none;
}

#shorturl {
  float:right;
}

#arrow {
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  width: 0;
  height: 0;

}